# generate and build 
/**/build
/**/dist
/**/cmake-build-debug
/**/out
/**/bin
/**/x64
/**/*.sln

# IDE
/**/.vscode
/**/.idea
/**/.vs
/**/*.iml

# binary
/**/*.dll
/**/*.exe
/**/.a
/**/.so

## package
/**/uni_modules
/**/node_modules

## text files
/**/compile_commands.json

# others
/**/.xmake
/**/.cache

